:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --prmary-white-color: #fff;
  --primary-blue-color: #455ae5;
  --footer-text-color: #f4f4fd;
  --nav-background-color: #fff;
  --headaer-background-color: #2e2f42;
  --primary-body-backgroundc-color: #fff;
  --secondary-body-background-color: #f4f4fd;
  --footer-background-color: #2e2f42;
}

/*general*/
body{
    font-family: roboto;
}
.button {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  font font-style: normal;
  line-height: 24px;
  letter-spacing:0.64px;
}

